*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}
ul {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
   
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.xl-font{
    font-size:2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px #1C1F22;
    letter-spacing: 1px;
}
h1{
    font-size: 2rem;
    font-weight: 400;
    text-shadow: 1.5px 1.5px #1C1F22;
    letter-spacing: 1px;
    padding: 5px 0;
}
h2{
    font-size: 1.6rem;
    font-weight: 400;
    text-shadow: 1px 1px #1C1F22 ;
    letter-spacing: .3px;
    padding: 5px 0;
}
h3{
    font-size: 1.3rem;
    font-weight: 400;
    text-shadow: 1px 1px #1C1F22;
    letter-spacing: .3px;
    padding: 5px 0;
}
p{
    font-size:1rem;
    letter-spacing: .3px;
    padding: 5px 0;
    line-height: 1.5rem;
}
li{
    line-height: 1.5rem;
}
