@import url('../css/css-reset.css');
body{
    color:#F2EAE3;
    font-family: 'Poppins', sans-serif;
    background-color: #C6A7CA;
    
}

main{
   display: flex;
   width: 100%;
  padding-bottom: 8rem;
  flex-grow: 1;
  gap:0;
  overflow: hidden;  
}

header{
   
    width: 100%;
    height: 15vh;
    padding:2rem 5rem;
}
header ul{
    display: flex;
    justify-content: space-between;
}
#home-icon{
    height:50px;
}
#bookmark-icon{
    height:50px;
}
article{
    margin-left:5rem;
    padding: 1.7rem ;
    border: 2px solid #27182B;
    border-radius: 30px;
    background: #624E73;
    box-shadow: 5px 5px rgba(139,215,113,.8);
   width: 60%;
}
.details li ,.ingredients li{
    font-size:1rem;
    letter-spacing: .3px;
    list-style-type: disc;
}

h1,h2,h3,a{
    color:#8BD771;
    padding: 1rem 0;
}
.details {
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 1rem;
}
.ingredients{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    grid-template-rows: repeat(auto, minmax(100px,1fr));
    grid-auto-flow: dense;
    padding-left: 1rem;
}
.dish-img img{
   width:100%;
   
}
.dish-img{
    margin-left: -1.5rem;
    margin-right: 0;
    
    max-width:fit-content;

}
footer{
    margin: 10px;
    padding:10px 20px;
    text-align: center;
    color: #624E73;
   }
   footer a{
    color:#F2EAE3;
   }
@media (max-width:1025px) {
   
   main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
   }
   article{
    width:80%;
    margin: 0 3rem;
   }
   .dish-img{
    margin-top: 5px;
    width:80%;
   }
  
}
@media (min-width:1201px) {
    .dish-img img{
        width:fit-content;
    }
    .dish-img{
        width:100%;
    }

}
